<div class="section" id="certification">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Certifications</div>
      <div class="card" *ngFor="let certificate of certificates" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>{{certificate.date}}</p>
              <div class="h5">{{certificate.courseNameMain}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{certificate.courseName}}</div>
              <p>{{certificate.courseDesc}}</p>
              <button class="btn-default btn-block expand-btn">{{certificate.buttonName}}</button><br>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    </div>