<div class="section" id="certification">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Certifications</div>
      <div class="card" *ngFor="let certificate of certificates" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>{{certificate.date}}</p>
              <div class="h5">{{certificate.courseNameMain}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{certificate.courseName}}</div>
              <p>{{certificate.courseDesc}}</p>
              <button class="btn-default btn-block expand-btn">{{certificate.buttonName}}</button><br>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>January 2022</p>
              <div class="h5">Freecodecamp</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">JavaScript Algorithm and Data Structures</div>
              <p>As a part of this certification, I have built palindrome checker, Roman numeral Converter, Caesars Cipher, Telephone number validator and Cash Register projects using Javascript.</p>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://freecodecamp.org/certification/nayakdarshan22/javascript-algorithms-and-data-structures';" > Certificate</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>January 2022</p>
              <div class="h5">Freecodecamp</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Responsive Web Design</div>
              <p>As a part of this certification, I have built a Survey form, a Tribute page, a Technical Documentation Page, a Product landing Page and this personal portfolio webpage using HTML5, CSS3 and JavaScript.</p>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://freecodecamp.org/certification/nayakdarshan22/responsive-web-design';"> Certificate</button>
            </div>
          </div>
        </div>
      </div> -->
    
    
      
      <!-- <div class="card" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>September 2021</p>
              <div class="h5">Take it Smart </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Machine Learning using Python</div>
              <p>Worked on Ball Tracking system and Edge detection system by applying machine learning using Python. This internship was lasted for the duration of 1 month.</p>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://drive.google.com/file/d/1GnVzgOKOwF0-TnC6YwQua_2NSMMS4P6k/view?usp=sharing';" > Certificate</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>August 2021</p>
              <div class="h5">udemy</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Basic HTML,CSS and Javascript </div>
              <p>Worked on Building basic webpages using HTML, CSS and JavaScript and also worked on responsive webpages.</p>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://www.udemy.com/certificate/UC-d1cce076-0417-4304-b0f2-45d51bc2a678/';"> Certificate</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            
            <div class="card-body cc-experience-header">
              <p>September 2020</p>
              <div class="h5">HackerRank</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Programming in C, C++, Java</div>
              <p>Under these courses, I have worked on basic, intermediate and advanced concepts of C, C++ and Java.</p>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://www.hackerrank.com/certificates/3d0560ba0fb8';" > Certficate - Advanced C</button><br>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://www.hackerrank.com/certificates/d980a79dc3d5';" > Certficate - Advanced C++</button> <br>
              <button class="btn-default btn-block " onclick="window.location.href = 'https://www.hackerrank.com/certificates/6009ab9a0d8a';" > Certficate - Intermediate Java</button>
            </div>
          </div>
        </div>
      </div> -->
      
    </div>
    
    </div>