<app-navbar></app-navbar>
<div class="page-content">
    <div>
<div class="profile-page">
<div class="wrapper">
  <div class="page-header page-header-small" >
    
    <div class="page-header-image video-container" data-parallax="false" >
      <video autoplay muted loop id="myVideo">
      <source src="images/bg-video.mp4" type="video/mp4">
    </video>
  </div>
    <div class="container">
      <div class="content-center">
        <div class="cc-profile-image "><a href="https://darshannayak.in"><img src="src/assets/darshan.jpeg" alt="Image"/></a></div>
        <div class="h2 title">Darshan Nayak</div>
        <p class="category text-white">Web Developer</p>
        <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a> -->
        <a class="btn btn-primary" href="resume.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" download="Darshan's Resume" view >Download CV</a>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a class="btn btn-default btn-round btn-lg btn-icon" style="background-color: rgb(14, 118,168);" href="https://www.linkedin.com/in/darshan-nayak-4a9a27143/" rel="tooltip" title="Connect me on LinkedIn"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-default btn-round btn-lg btn-icon" style="background-color: rgb(110, 84,148 );" href="https://https://github.com/nayakdarshan22" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
          <a class="btn btn-default btn-round btn-lg btn-icon" style= "background-color: rgb(29, 161, 242);" href="https://twitter.com/nayakdarshan22" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
          
          <a class="btn btn-default btn-round btn-lg btn-icon"style="background-color: rgb(225, 48, 108)" href="https://www.instagram.com/darshan.nayak_/" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
      </div>
    </div>
  </div>
</div>
</div>
<app-basic-details-card></app-basic-details-card>
<app-personal-skills></app-personal-skills>
<app-work-experience></app-work-experience>
<app-certifications></app-certifications>











<!-- ABOUT -->













<!-- SKILLS -->













<!-- WORK EXPERIENCE-->













<!-- CERTIFICATIONS -->












<!-- PROJECTS-->
<div class="section" id="project">
<div class="container cc-experience">
  <div class="h4 text-center mb-4 title">Projects</div>
  
  <div class="card" >
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        
        <div class="card-body cc-experience-header">
          <p>September 2021 - Present</p>
          <div class="h5">College ERP System</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js-square"></i> <i class="fab fa-python"></i> <i class="fab fa-dyalog"></i> <i class="fas fa-database"></i></div>
          <p>An Enterprise Resource Planning System built using HTML5, CSS, JavaScript, Django, MySQL technologies which manages the attendance, marks, and timetable for students in a college.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" >
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        
        <div class="card-body cc-experience-header">
          <p>2020</p>
          <div class="h5">TIC - TAC - TOE</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5"><i class="fab fa-cuttlefish"></i> <i class="fab fa-guilded"></i></div>
          <p>A simple GUI game designed using C language with the help of OpenGl packages where the user can interact with the computer through a mouse click.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" >
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        
        <div class="card-body cc-experience-header">
          <p>2020</p>
          <div class="h5">Online Food Delivery System</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-php"></i> <i class="fab fa-js-square"></i>   <i class="fas fa-database"></i></div>
          <p>An online Food management tool designed using HTML5, CSS3, Javascript, MySQl and php which basically deals with the orders made, order tracking and billing process for both customer and the Hotel/Restaurant administrator.</p>

        </div>
      </div>
    </div>
  </div>

</div>
</div>








<!--EDUCATION-->
<div class="section" id="education" >

<div class="container cc-education" >
  <div class="h4 text-center mb-4 title">Education</div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2016 - Present</p>
          <div class="h5">Bachelor's Degree</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Bachelor of Engineering</div>
          <p class="category">Canara Engineering College, Mangalore</p>
          <p> <i class="fas fa-caret-right"></i> Chose Computer Science Engineering as main stream and studied C, Python, C#, Automata Theory, Data Communication, Machine Learning, Etc. as the core subjects.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2014 - 2016</p>
          <div class="h5">Pre- University</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">PCMCs</div>
          <p class="category">Alva's PU College, Moodbidri</p>
          <p><i class="fas fa-caret-right"></i> Chose Physics, Chemistry, Mathematics and Computer Science as main stream and studied about the basics of programming. <br><i class="fas fa-caret-right"></i> Secured 93.4% in Board (karnataka) Examinations. <br><i class="fas fa-caret-right"></i> Secured 17,624th rank in 2016 CET.</p>
        
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2011 - 2014</p>
          <div class="h5">High School</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Science and Mathematics</div>
          <p class="category">Ave Maria High School, Sirsi</p>
          <p><i class="fas fa-caret-right"></i> Secured 76.16% in SSLC board(karnataka) Examinations.<br><i class="fas fa-caret-right"></i> Participated in District- Level Table Tennis competition and represented Ave Maria High School in 2013.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>










<!--CONTACT-->
<div class="section" id="contact">
<div class="cc-contact-information" style="background-image:url(images/staticmap.png)">
  <div class="container">
    <div class="cc-contact">
      <div class="row">
        <div class="col-md-9">
          <div class="card mb-0" data-aos="zoom-in">
            <div class="h4 text-center title">Contact Me</div>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <form action="https://formspree.io/f/xjvlyaya" method="POST">
                    <div class="p pb-3"><strong> </strong></div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                          <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                          <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-group">
                          <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-primary" type="submit">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="mb-0"><strong><i class="fas fa-address-card"></i> Address </strong></p>
                  <p class="pb-2">Bengaluru, Karnataka, India</p>
                  <p class="mb-0"><strong><i class="fas fa-phone-alt"></i> Phone</strong></p>
                  <p class="pb-2"><a href="tel:+919071679737">+919071679737</a></p>
                  <p class="mb-0"><strong><i class="fas fa-at"></i> Email</strong></p>
                  <p><a href="mailto:nayakdarshan22@gmail.com">nayakdarshan22@gmail.com</a></p>
                  <p><a href="mailto:darshan.nayak@techtreeit.com">darshan.nayak@techtreeit.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div></div>
  </div>